!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title CloudStorage
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    - if flash.any?
      - flash.each do |k, v|
        %div{ id: "alert-#{k}" }= v
    - if current_user
      %p Logged in as user #{current_user.id}
    = yield
